.page {
  color: black;
  text-align: center;
  margin: 0;
}

.wrapper {
  background-color: rgb(228, 228, 228);
  max-width: 700px;
  padding: 16px;
  margin: 0 auto;
  text-align: left;
}

.header {
  background-color: gray;
}

.header-logo {
  margin: 0;
}

.header-caption {
  display: inline-block;
}

.header-image {
  max-width: 100px;
  float: right;
}

.section {
  border-bottom: 1px solid black;
}

.code {
  display: block;
  overflow: scroll;
  background: aliceblue
}